@if (isForm && entityForm) {
  <form [formGroup]="entityForm" class="p-2">
    <div class="grid">
      <div class="field col-12 md:col-6">
        <label for="code">Código:</label>
        <input type="text" pInputText id="code" formControlName="code" placeholder="Digite o código da compra" fluid>
      </div>
      <div class="field col-12 md:col-6">
        <label for="description">Descrição:</label>
        <input type="text" pInputText id="description" formControlName="description" placeholder="Digite a descrição da compra" fluid>
      </div>
      <div class="field col-12 md:col-6">
        <label for="creditCard">Cartão de crédito:</label>
        <p-select [options]="creditCards" optionLabel="description" formControlName="creditCard" fluid placeholder="Selecione um cartão de crédito" [disabled]="this.selectedEntity.id > 0"></p-select>
      </div>
      <div class="field col-12 md:col-6">
        <label for="category">Categoria:</label>
        <p-select [options]="categories" optionLabel="description" formControlName="category" fluid placeholder="Selecione uma categoria"></p-select>
      </div>
      <div class="field col-12 md:col-6">
        <label for="purchaseDate">Data da compra:</label>
        <p-date-picker id="purchaseDate" inputId="purchaseDate" formControlName="purchaseDate" placeholder="Escolha a data da compra" [readonlyInput]="true" fluid [showIcon]="true" [showClear]="true"></p-date-picker>
      </div>
      <div class="field col-12 md:col-6">
        <label for="totalAmount">Valor da compra:</label>
        <p-input-number id="totalAmount" inputId="totalAmount" formControlName="totalAmount" placeholder="Digite o valor da total da compra" fluid mode="currency" currency="BRL" [showButtons]="true" [step]="1" [min]="1"></p-input-number>
      </div>
      <div class="field col-12 md:col-6">
        <label for="totalInstallments">Quantidade de parcelas:</label>
        <p-input-number id="totalInstallments" inputId="totalInstallments" formControlName="totalInstallments" placeholder="Digite a quantidade de parcelas" fluid [showButtons]="true" [step]="1" [min]="1" [disabled]="this.selectedEntity.id > 0"></p-input-number>
      </div>
    </div>
  </form>
}
