<p-confirmdialog [visible]="confirmModal" (onHide)="onCloseModal()" [blockScroll]="true" icon="pi pi-question" message="Deseja prosseguir com a atualização da parcela?">
  <ng-template #header>
    <p class="font-bold text-xl">Confirmar atualização?</p>
  </ng-template>
  <ng-template #footer>
    <div class="w-full flex justify-content-between align-items-center">
      <p-button variant="text" label="Cancelar" icon="pi pi-times" iconPos="right" severity="danger" (onClick)="onCloseModal()"></p-button>
      <p-button rounded icon="pi pi-check" severity="contrast" (onClick)="updateInstallmet(selectedInstallment)" [disabled]="!selectedInstallment"></p-button>
    </div>
  </ng-template>
</p-confirmdialog>
<p-toast></p-toast>

<app-header title="Gerenciar parcelas" icon="pi pi-file-check" size="2xl"></app-header>

<p-divider></p-divider>

<div class="w-full p-2">
  <form [formGroup]="form">
    <div class="grid">
      <div class="field col-12 md:col-8 text-center">
        <label for="creditTransaction">Compra que a parcela pertence:</label>
        <p-select [options]="creditTransactions" optionLabel="description" optionValue="id" formControlName="creditTransactionId" inputId="creditTransaction" placeholder="Escolha a compra" fluid [showClear]="true"></p-select>
      </div>
      <div class="field col-12 md:col-4 text-center" [hidden]="!validForm()">
        <label for="">Consultar parcelas:</label>
        <div class="w-full">
          <p-button severity="contrast" icon="pi pi-arrow-down" iconPos="right" rounded (onClick)="loadInstallments()" [disabled]="!validForm()"></p-button>
        </div>
      </div>
    </div>
  </form>
</div>

<p-divider></p-divider>

<div class="grid p-2 m-auto">
  @for (installment of installments; track $index) {
    <div class="field col-11 md:col-5 lg:col-3 m-auto p-2 shadow-3 border-round-2xl my-3">

      <div class="w-full flex justify-content-between align-items-center mb-3">
        <p>Parcela N°: {{installment.number}}</p>
        <div class="flex justify-content-between align-items-center p-2 gap-2">
          <p-tag [severity]="getTagSeverity(installment.isPaid)">{{getBooleanValue(installment.isPaid)}}</p-tag>
        </div>
      </div>

      <p-divider></p-divider>

      <div class="w-full p-2 line-height-4">
        <label for="">Valor: </label>
        <p-inputNumber [placeholder]="'R$ ' + installment.amount" fluid [disabled]="true" size="small" inputStyleClass="border-round-3xl text-center"></p-inputNumber>
      </div>

      <div class="w-full p-2 text-right">
        <p-button variant="text" [label]="installment.isPaid ? 'Parcela paga' : 'Pagar'" [icon]="installment.isPaid ? 'pi pi-check' : 'pi pi-wallet'" [severity]="installment.isPaid ? 'info' : 'contrast'" iconPos="right" fluid (onClick)="openModal(installment)"></p-button>
      </div>

    </div>
  }
</div>

<!-- <div class="w-full p-2">
  <div class="grid gap-1">
    @for (installment of installments; track $index) {
      <div class="field col-5 md:col-3 m-auto my-4 shadow-1 border-round text-center">
        <div class="w-full p-2 font-bold">
          <p>Parcela N°: {{installment.number}}</p>
        </div>
        <div class="w-full p-2 line-height-4">
          <p-tag [severity]="getTagSeverity(installment.isPaid)">{{getBooleanValue(installment.isPaid)}}</p-tag>
          <p class="my-2">R$ {{installment.amount}}</p>
        </div>
        <p-button variant="text" [label]="installment.isPaid ? 'Pago' : 'Pagar'" [icon]="installment.isPaid ? 'pi pi-check' : 'pi pi-wallet'" [severity]="installment.isPaid ? 'success' : 'info'" iconPos="right" fluid (onClick)="updateInstallmet(installment)" [hidden]="installment.isPaid" [disabled]="installment.isPaid"></p-button>
      </div>
    }
  </div>
</div> -->
