<div class="field col-10 md:col-5 lg:col-3 shadow-2 border-round-2xl m-auto my-2 cursor-pointer" (click)="command()">
  <div class="w-full p-2 flex justify-content-between align-items-center mb-1">
    <h3>{{title}}</h3>
    <i [class]="icon"></i>
  </div>

  <p-divider></p-divider>

  <div class="w-full p-3 my-1 text-left bg-gray-200 border-round line-height-3">
    <p>{{description}}</p>
  </div>

  <div class="w-full p-2 flex justify-content-between align-items-center">
    <i [class]="icon"></i>
    <p-button rounded icon="pi pi-arrow-right" size="small" severity="contrast"></p-button>
  </div>
</div>
