@if (isForm && entityForm) {
  <form [formGroup]="entityForm" class="p-2">
    <div class="grid">
      <div class="field col-12 md:col-6">
        <label for="description" class="mx-2">Descrição: <span class="text-red-500">*</span></label>
        <input type="text" pInputText id="description" formControlName="description" placeholder="Digite a descrição da categoria" fluid class="border-round-3xl">
      </div>
      <div class="field col-12 md:col-6">
        <label for="color" class="mx-2">Cor da categoria:</label>
        <p-colorpicker formControlName="color" inputId="color" class="mx-1"/> <span class="text-red-500">*</span>
        <input type="text" pInputText [placeholder]="entityForm.get('color')?.value" fluid class="border-round-3xl" [disabled]="true">
        <small class="mx-2">A cor escolhida será usada pelo relatório.</small>
      </div>
      <div class="field col-6 md:col-4">
        <label for="isActive" class="mx-2">Categoria ativa?</label>
        <div class="flex items-center gap-2 mx-2">
          <p-checkbox [binary]="true" formControlName="isActive" inputId="isActive"></p-checkbox>
          <label for="isActive">{{entityForm.get('isActive')?.value ? 'Sim' : 'Não'}}</label>
        </div>
      </div>
    </div>
  </form>
}
