<div class="w-full p-2 text-center line-height-4 text-white border-round-bottom-3xl" style="background-color: black;">
  <div class="w-full flex justify-content-between align-items-center p-2">
    <h2 class="p-2">
      @if (iconPos == "left") {
        <i [class]="icon + ' text-' + size"></i>
      }

      {{title}}

      @if (iconPos == "right") {
        <i [class]="icon + ' ' + size"></i>
      }
    </h2>

    @if (showButton) {
      <p-button [icon]="buttonIcon" [label]="buttonLabel" styleClass="bg-white border-white text-gray-900" (onClick)="buttonCommandEmit()"></p-button>
    }
  </div>
  <p class="p-2">{{description}}</p>
</div>
