<p-toast></p-toast>

<div class="fluid shadow-2 border-round">
  <div class="w-full bg-blue-100 p-2">
    <h2>{{getFormDescription()}}</h2>
  </div>
  <div #crudForm></div>
  <div class="p-2 flex justify-content-between align-items-center">
    <p-button variant="text" label="Cancelar" icon="pi pi-undo" iconPos="right" severity="danger" (onClick)="returnToList()"></p-button>
    <p-button label="Salvar" icon="pi pi-send" iconPos="left" severity="primary" (onClick)="save()" [disabled]="!canSave()"></p-button>
  </div>
</div>
