<p-toast key="login_success" (onClose)="onCloseToast()"></p-toast>
<p-toast key="login_error"></p-toast>

<app-header title="Finance Manager" description="Acesse sua conta e mantenha suas finanças sob controle."></app-header>

<div class="fluid p-2 my-3">

  <div class="w-full max-w-30rem m-auto ">
    <div class="p-2">
      <p class="text-3xl mb-4 text-center">Login <i class="pi pi-user text-3xl"></i></p>

      <form [formGroup]="loginForm">
        <div class="grid">
          <!-- Start Email -->
          <div class="field col-12">
            <label for="email" class="mx-3">Email</label>
            <p-icon-field>
               <input type="text" pInputText id="email" formControlName="email" placeholder="Digite o e-mail de login" fluid class="border-round-3xl p-3" />
              <p-inputicon class="pi pi-user" />
            </p-icon-field>
          </div>
          <!-- End Email -->
          <!-- Start Password -->
          <div class="field col-12">
            <label for="password" class="mx-3">Senha</label>
            <p-icon-field>
              <p-password id="password" inputId="password" formControlName="password" placeholder="Digite a senha de login" toggleMask [feedback]="false" fluid inputStyleClass="border-round-3xl p-3"></p-password>
            </p-icon-field>
          </div>
          <!-- End Password -->
        </div>
      </form>

      <div class="p-2 flex justify-content-between align-items-center">
        <p-button variant="text" label="Criar conta" severity="info" (onClick)="register()"></p-button>
        <p-button icon="pi pi-arrow-right" rounded severity="contrast" (onClick)="login()" [disabled]="!validForm()"></p-button>
      </div>
    </div>

  </div>

</div>
