<p-toast key="success" (onClose)="onCloseToast()"></p-toast>
<p-toast key="error"></p-toast>

<app-logo-header></app-logo-header>

<div class="w-full max-w-30rem m-auto">
  <p-tabs value="login">
    <p-tablist>
      <p-tab value="login">Login <i class="pi pi-user"></i></p-tab>
      <p-tab value="register">Cadastro <i class="pi pi-plus"></i></p-tab>
    </p-tablist>
    <p-tabpanels>
      <p-tabpanel value="login">

        <form [formGroup]="loginForm">
          <div class="grid">
            <div class="field col-12">
              <label for="email">Email</label>
              <p-icon-field>
                <input type="text" pInputText id="email" formControlName="email" placeholder="Digite o e-mail de login" fluid class="border-round-3xl p-3" />
                <p-inputicon class="pi pi-at" />
              </p-icon-field>
            </div>
            <div class="field col-12">
              <label for="password">Senha</label>
              <p-icon-field>
                <p-password id="password" inputId="password" formControlName="password" placeholder="Digite a senha de login" toggleMask [feedback]="false" fluid inputStyleClass="border-round-3xl p-3"></p-password>
              </p-icon-field>
            </div>
            <div class="field col-11 text-center bg-primary-700 border-round-2xl m-auto mb-4">
              <p class="text-lg">Acesse sua conta e comece a gerir suas finanças em um só lugar!</p>
            </div>
            <div class="field col-12">
              <div class="w-full text-right">
                <p-button icon="pi pi-arrow-right" rounded severity="contrast" (onClick)="login()" [disabled]="!isValidLoginForm()"></p-button>
              </div>
            </div>
          </div>
        </form>

      </p-tabpanel>
      <p-tabpanel value="register">

        <form [formGroup]="registerForm">
          <div class="grid">
            <div class="field col-12">
              <label for="userName">Nome de usuário</label>
              <p-icon-field>
                <input type="text" pInputText id="userName" formControlName="userName" placeholder="Crie o nome do seu usuário" fluid class="border-round-3xl p-3" />
                <p-inputicon class="pi pi-user" />
              </p-icon-field>
            </div>
            <div class="field col-12">
              <label for="email">Email</label>
              <p-icon-field>
                <input type="text" pInputText id="email" formControlName="email" placeholder="Digite o e-mail de usuário" fluid class="border-round-3xl p-3" />
                <p-inputicon class="pi pi-at" />
              </p-icon-field>
            </div>
            <div class="field col-12">
              <label for="password">Senha</label>
              <p-password id="password" inputId="password" formControlName="password" placeholder="Crie a senha de usuário" fluid [feedback]="false" [showClear]="true" toggleMask inputStyleClass="border-round-3xl p-3"></p-password>
              <div class="w-full mx-3 mt-3">
                <small>A senha deve conter pelo menos 6 caracteres</small>
              </div>
            </div>
            <div class="field col-11 text-center bg-primary-700 border-round-2xl m-auto mb-4">
              <p class="text-lg">É rápido e fácil! Crie sua conta para começar a gerenciar suas finanças.</p>
            </div>
            <div class="field col-12">
              <div class="w-full text-right">
                <p-button icon="pi pi-arrow-right" rounded severity="contrast" (onClick)="register()" [disabled]="!isValidRegisterForm()"></p-button>
              </div>
            </div>
          </div>
        </form>

      </p-tabpanel>
    </p-tabpanels>
  </p-tabs>
</div>
