<p-toast id="register_success" (onClose)="onCloseToast()"></p-toast>

<div class="fluid flex justify-content-center align-items-center">
  <div class="p-2 border-round-lg">

    <img src="assets/image/login.jpg" class="w-w-full h-22rem">

    <div class="w-full text-center my-4">
      <h1 class="my-2">Finance Manager</h1>

      <p>Sua aplicação para gerenciamento de contas</p>
    </div>

    <form [formGroup]="registerForm">
      <div class="grid">
        <div class="field col-12">
          <label for="fullName">Nome:</label>
          <input type="text" pInputText id="fullName" formControlName="fullName" placeholder="Digite o nome de usuário" fluid>
        </div>
        <div class="field col-12">
          <label for="email">E-mail:</label>
          <input type="text" pInputText id="email" formControlName="email" placeholder="Digite o e-mail de usuário" fluid>
        </div>
        <div class="field col-12">
          <label for="password">Senha:</label>
          <p-password inputId="password" id="password" formControlName="password" placeholder="Digite a senha de usuário" fluid [feedback]="false" />
        </div>
        <div class="field col-12">
          <div class="w-full flex justify-content-between align-items-center">
            <p-button variant="text" label="Login" iconPos="right" icon="pi pi-arrow-left" severity="info" fluid (onClick)="login()"></p-button>
            <p-button variant="text" label="Registrar" iconPos="right" icon="pi pi-user" fluid (onClick)="register()" [disabled]="!validForm()"></p-button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
