@if (isForm && entityForm) {
  <form [formGroup]="entityForm" class="p-2">
    <div class="grid">
      <div class="field col-12 md:col-6">
        <label for="name">Nome: <span class="text-red-500">*</span></label>
        <p-icon-field>
          <input type="text" pInputText id="name" formControlName="name" placeholder="Digite a descrição da compra" fluid class="border-round-3xl">
          <p-inputicon class="pi pi-hashtag"></p-inputicon>
        </p-icon-field>
      </div>
      <div class="field col-12 md:col-6">
        <label for="description">Descrição: <span class="text-red-500">*</span></label>
        <p-icon-field>
          <input type="text" pInputText id="description" formControlName="description" placeholder="Digite a descrição da compra" fluid class="border-round-3xl">
          <p-inputicon class="pi pi-pencil"></p-inputicon>
        </p-icon-field>
      </div>
      <div class="field col-12 md:col-6">
        <label for="category">Categoria: <span class="text-red-500">*</span></label>
        <p-select [options]="categories" optionLabel="name" dataKey="id" inputId="category" formControlName="category" placeholder="Selecione a categoria da compra" fluid class="border-round-3xl" panelStyleClass="border-round-2xl">
          <ng-template #selectedItem let-item>
            <div class="w-full flex justify-content-left align-items-center gap-2">
              <span class="p-2 border-round" [style]="{'backgroundColor' : item.color}"></span>
              <span>
                {{item.name}}
              </span>
            </div>
          </ng-template>
          <ng-template #item let-item>
            <div class="w-full flex justify-content-left align-items-center gap-2">
              <span class="p-2 border-round" [style]="{'backgroundColor' : item.color}"></span>
              <span>
                {{item.name}}
              </span>
            </div>
          </ng-template>
        </p-select>
      </div>
      <div class="field col-12 md:col-6">
        <label for="totalAmount">Valor da compra: <span class="text-red-500">*</span></label>
        <p-icon-field>
          <p-inputNumber id="totalAmount" inputId="totalAmount" formControlName="totalAmount" placeholder="Digite o valor da compra" fluid [min]="0" mode="currency" currency="BRL" inputStyleClass="border-round-3xl"></p-inputNumber>
          <p-inputicon class="pi pi-dollar"></p-inputicon>
        </p-icon-field>
      </div>
      <div class="field col-12 md:col-6">
        <label for="totalInstallments">Quantide de parcelas: <span class="text-red-500">*</span></label>
        <p-icon-field>
          <p-inputNumber id="totalInstallments" inputId="totalInstallments" formControlName="totalInstallments" placeholder="Digite quantidade de parcelas" fluid [min]="1" suffix=" parcela(s)" inputStyleClass="border-round-3xl"></p-inputNumber>
          <p-inputicon class="pi pi-calculator"></p-inputicon>
        </p-icon-field>
      </div>
      <div class="field col-12 md:col-6">
        <label for="purchaseDate">Data da compra: <span class="text-red-500">*</span></label>
        <p-icon-field>
          <p-date-picker id="purchaseDate" inputId="purchaseDate" formControlName="purchaseDate" placeholder="Selecione a data da compra" fluid dateFormat="dd/mm/yy" [readonlyInput]="true" inputStyleClass="border-round-3xl"></p-date-picker>
          <p-inputicon class="pi pi-calendar"></p-inputicon>
        </p-icon-field>
      </div>
    </div>
  </form>
}
