<app-header title="Finance Manager" description="Tenha controle total das suas finanças em um só lugar! Acompanhe seus gastos, organize sua renda e tome decisões mais inteligentes."></app-header>

<div class="w-full p-2 text-center my-3">

  @for (item of items; track $index) {

    <p-divider></p-divider>

    <div class="w-full p-2 line-height-4">
      <h2 class="bg-gray-100 mb-4 border-round-xl">{{item.label}}</h2>

      <p class="text-center mb-4">{{item.tooltip}}</p>
    </div>

    <div class="grid">
      @for (child of item.items; track $index) {
        <div class="field col-11 md:col-5 lg:col-3 shadow-2 border-round-2xl m-auto my-2 cursor-pointer" (click)="navigateTo(child.routerLink)">
          <div class="w-full p-2 flex justify-content-between align-items-center mb-1">
            <h3>{{child.label}}</h3>
            <i [class]="child.icon"></i>
          </div>

          <div class="w-full p-3 my-1 text-left bg-gray-100 border-round line-height-3">
            <p>{{child.tooltip}}</p>
          </div>

          <div class="w-full p-2 text-right">
            <p-button rounded icon="pi pi-arrow-right" size="small" severity="contrast"></p-button>
          </div>
        </div>
      }
    </div>
  }
</div>

