<app-header
  title="Home"
  description="Aqui começa o caminho para sua gestão de finanças!"
  icon="pi pi-home"
  iconSize="2xl"
  iconPos="left">
</app-header>

<p-divider></p-divider>

<div class="w-full p-2 text-center my-3">

  <div class="grid gap-2">
    @for (item of items; track $index) {
      <div class="field col-10 md:col-6 lg:col-4 m-auto my-2">
        <app-card
          [titleCard]="item.label!"
          [description]="item.tooltip!"
          [icon]="item.icon!"
          [command]="() => navigateTo(item.routerLink)"></app-card>
      </div>
    }

  </div>

</div>

