@if (isForm && entityForm) {
  <form [formGroup]="entityForm" class="p-2">
    <div class="grid">
      <div class="field col-12 md:col-6">
        <label for="name">Nome:</label>
        <input type="text" pInputText id="name" formControlName="name" placeholder="Digite o nome do usuário" fluid>
      </div>
      <div class="field col-12 md:col-6">
        <label for="email">E-mail:</label>
        <input type="text" pInputText id="email" formControlName="email" placeholder="Digite a descrição do usuário" fluid>
      </div>
      <div class="field col-12 md:col-6">
        <label for="description">Descrição:</label>
        <input type="text" pInputText id="description" formControlName="description" placeholder="Digite a descrição do usuário" fluid>
      </div>
      <div class="field col-12 md:col-6">
        <div class="flex items-center gap-2">
          <p-checkbox [binary]="true" formControlName="isActive" inputId="isActive"></p-checkbox>
          <label for="isActive">Usuário ativo?</label>
        </div>
      </div>
    </div>
  </form>
}
