@if (isForm && entityForm) {
  <form [formGroup]="entityForm" class="p-2">
    <div class="grid">
      <div class="field col-12 md:col-6">
        <label for="code">Código:</label>
        <input type="text" pInputText id="code" formControlName="code" placeholder="Digite o código da parcela" fluid>
      </div>
      <div class="field col-12 md:col-6">
        <label for="description">Descrição:</label>
        <input type="text" pInputText id="description" formControlName="description" placeholder="Digite a descrição da parcela" fluid>
      </div>
      <div class="field col-12 md:col-6">
        <label for="transaction">Compra:</label>
        <p-select [options]="transactions" optionLabel="description" formControlName="transaction" fluid placeholder="Selecione a compra que a parcela pertence" [disabled]="true"></p-select>
      </div>
      <div class="field col-12 md:col-6">
        <label for="installmentNumber">Número da parcela atual:</label>
        <p-input-number id="installmentNumber" inputId="installmentNumber" formControlName="installmentNumber" placeholder="Digite o número da parcela" fluid [showButtons]="true" [step]="1" [min]="1" [disabled]="true"></p-input-number>
      </div>
      <div class="field col-12 md:col-6">
        <label for="amount">Valor da parcela:</label>
        <p-input-number id="amount" inputId="amount" formControlName="amount" placeholder="Digite o número da parcela" fluid mode="currency" currency="BRL" [showButtons]="true" [step]="1" [min]="1" [disabled]="true"></p-input-number>
      </div>
      <div class="field col-12 md:col-6">
        <label for="amount">Dia de vencimento da parcela:</label>
        <p-date-picker id="amount" inputId="amount" formControlName="amount" fluid [showIcon]="true" [disabled]="true"></p-date-picker>
      </div>
      <div class="field col-12 md:col-6">
        <div class="flex items-center gap-2">
          <p-checkbox [binary]="true" formControlName="isPaid" inputId="isPaid" [disabled]="true"></p-checkbox>
          <label for="isPaid">Foi pago?</label>
        </div>
      </div>
    </div>
  </form>
}
