/* You can add global styles to this file, and also import other style files */

@import url("../node_modules/primeflex/primeflex.css");
@import url("../node_modules/primeicons/primeicons.css");
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: "Nunito", "Roboto", Arial, Helvetica, sans-serif;
}

th, td {
  text-align: center !important;
}

label {
  margin: 0 .7rem;
}

.p-toggleswitch.p-toggleswitch-checked .p-toggleswitch-slider {
  background-color: black !important;
  border-color: black !important;
}

.bg-black {
  background-color: black !important;
  border-color: black !important;
}
