@if (isForm && entityForm) {
  <form [formGroup]="entityForm" class="p-2">
    <div class="grid">
      <div class="field col-12 md:col-6">
        <label for="code">Código:</label>
        <input type="text" pInputText id="code" formControlName="code" placeholder="Digite o código do cartão" fluid>
      </div>
      <div class="field col-12 md:col-6">
        <label for="description">Descrição:</label>
        <input type="text" pInputText id="description" formControlName="description" placeholder="Digite a descrição do cartão" fluid>
      </div>
      <div class="field col-12 md:col-6">
        <label for="user">Usuário:</label>
        <p-select [options]="users" optionLabel="name" formControlName="user" fluid placeholder="Selecione um usuário do cartão"></p-select>
      </div>
      <div class="field col-12 md:col-6">
        <label for="bank">Banco:</label>
        <p-select [options]="banks" optionLabel="description" formControlName="bank" fluid placeholder="Selecione o banco do cartão"></p-select>
      </div>
      <div class="field col-12 md:col-6">
        <label for="closingDay">Dia do fechamento da fatura:</label>
        <p-input-number id="closingDay" inputId="closingDay" formControlName="closingDay" placeholder="Digite o dia de fechamento do cartão" fluid prefix="Dia " suffix=" de todo mês" [showButtons]="true" [step]="1" [min]="0" [max]="28"></p-input-number>
      </div>
      <div class="field col-12 md:col-6">
        <label for="dueDay">Dia do vencimento da fatura:</label>
        <p-input-number id="dueDay" inputId="dueDay" formControlName="dueDay" placeholder="Digite o dia do vencimento do cartão" fluid prefix="Dia " suffix=" de todo mês" [showButtons]="true" [step]="1" [min]="0" [max]="28"></p-input-number>
      </div>
      <div class="field col-12 md:col-6">
        <label for="limit">Limite do cartão:</label>
        <p-input-number id="limit" inputId="limit" formControlName="limit" placeholder="Digite o limite do cartão" fluid mode="currency" currency="BRL" [showButtons]="true" [step]="100" [min]="0"></p-input-number>
      </div>
      <div class="field col-12 md:col-6">
        <div class="flex items-center gap-2">
          <p-checkbox [binary]="true" formControlName="isActive" inputId="isActive"></p-checkbox>
          <label for="isActive">Cartão ativo?</label>
        </div>
      </div>
    </div>
  </form>
}
