@if (isForm && entityForm) {
  <form [formGroup]="entityForm" class="p-2">
    <div class="grid">
      <div class="field col-12 md:col-6">
        <label for="code">Código:</label>
        <input type="text" pInputText id="code" formControlName="code" placeholder="Digite o código do cartão" fluid>
      </div>
      <div class="field col-12 md:col-6">
        <label for="description">Descrição:</label>
        <input type="text" pInputText id="description" formControlName="description" placeholder="Digite a descrição do cartão" fluid>
      </div>
      <div class="field col-12 md:col-6">
        <label for="user">Usuário:</label>
        <input type="text" pInputText id="user" formControlName="user" placeholder="Digite a usuário do cartão" fluid>
      </div>
    </div>
  </form>
}
